<!DOCTYPE html>
<html lang="en">
    <style>
    table, th, td {
        border:1px solid black;
    }
    </style>
<table>
    <tr>
        {% for item in heading %}
            <th><strong>{{item}}</strong></th>
        {% endfor %}
    </tr>
    
    <tr>
        {% for key,item in repo1.items() %}
            <td>{{item}}</td>
        {% endfor %}
    </tr>

    <tr>
        {% for key,item in repo2.items() %}
            <td>{{item}}</td>
        {% endfor %}
    </tr>
    
  </table>
</html>